<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tables list</title>
</head>
<body>

<h1>Tables list</h1>

<p><a th:href="@{/tables/new}">Add new table</a></p>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>Status</th>
        <th>Orders</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="table : ${tables}">
        <td th:text="${table.id}"></td>
        <td th:text="${table.number}"></td>
        <td th:text="${table.occupiedStatus}"></td>
        <td th:text="${table.orderIds.size()}"></td>

        <td>
            <a th:href="@{'/tables/' + ${table.id}}">Details</a> |
            <a th:href="@{'/tables/' + ${table.id} + '/edit'}">Edit</a> |

            <form th:action="@{'/tables/' + ${table.id} + '/delete'}"
                  method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
