<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add server</title>
</head>
<body>
<h1>Add new server</h1>

<form th:action="@{/servers}" th:object="${server}" method="post">

    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{id}" required/><br/><br/>

    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/><br/><br/>

    <label for="experience">Experience:</label>
    <input type="text" id="experience" th:field="*{experience}" required/><br/><br/>

    <label for="designation">Designation:</label>
    <input type="text" id="designation" th:field="*{designation}" required/><br/><br/>

    <button type="submit">Save server</button>
</form>

<p><a th:href="@{/servers}">Back to the list</a></p>
</body>
</html>