<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chefs list</title>
</head>
<body>
<h1>Chefs list</h1>
<p><a th:href="@{/chefs/new}">Add new chef</a></p>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Experience</th>
        <th>Specialization</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="chef : ${chefs}">
        <td th:text="${chef.id}">CH00</td>
        <td th:text="${chef.name}">Chef name</td>
        <td th:text="${chef.experience}">Experience</td>
        <td th:text="${chef.specialization}">Specialization</td>
        <td>
            <form th:action="@{'/chefs/' + ${chef.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>