<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${customer.id == null} ? 'Add Customer' : 'Edit Customer'"></title>
</head>
<body>

<h1 th:text="${customer.id == null} ? 'Add new customer' : 'Edit customer'"></h1>

<!-- ---------------- CREATE FORM ---------------- -->
<form th:if="${customer.id == null}"
      th:action="@{/customers}"
      th:object="${customer}"
      method="post">

    <label>ID:</label>
    <input type="text" th:field="*{id}" required/><br/><br/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <button type="submit">Save customer</button>
</form>


<!-- ---------------- UPDATE FORM ---------------- -->
<form th:if="${customer.id != null}"
      th:action="@{'/customers/' + ${customer.id}}"
      th:object="${customer}"
      method="post">

    <!-- ID ascuns la update -->
    <input type="hidden" th:field="*{id}" />

    <label>Name:</label>
    <input type="text" th:field="*{name}" required/><br/><br/>

    <button type="submit">Update customer</button>
</form>

<p><a th:href="@{/customers}">Back to list</a></p>

</body>
</html>
