<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Add order assignment</title>
</head>
<body>
<h1>Add new order assignment</h1>

<form th:action="@{/assignments}" th:object="${assignment}" method="post">

    <label for="id">ID Assignments:</label>
    <input type="text" id="id" th:field="*{Id}" required/><br/><br/>

    <label for="orderId">Order ID:</label>
    <input type="text" id="orderId" th:field="*{OrderId}" required/><br/><br/>

    <label for="staffId">Staff ID (Server/Chef):</label>
    <input type="text" id="staffId" th:field="*{staffId}" required/><br/><br/>

    <button type="submit">Save assignment</button>
</form>
<p><a th:href="@{/assignments}">Back to the list</a></p>
</body>
</html>