<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Assignments list</title>
</head>
<body>
<h1>Assignment list</h1>
<p><a th:href="@{/assignments/new}">Add new assignment</a></p>

<table border="1">
    <thead>
    <tr>
        <th>ID Asignare</th>
        <th>Order ID</th>
        <th>Staff ID</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.id}">A000</td>
        <td th:text="${assignment.orderId}">O000</td>
        <td th:text="${assignment.staffId}">S000/CH00</td>
        <td>
            <form th:action="@{'/assignments/' + ${assignment.id} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>